﻿@using IPMS.Web.Models

@model EmployeeModel 

@{

    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 264px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Employee Registration</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Employee" asp-action="Index">Employee List</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-md-10">

                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Add Employee Informration</h3>
                        </div>
                        <form class="form" method="post" asp-controller="Employee" asp-action="Add">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Employee Name</label>
                                    <input asp-for="EmployeeName" type="text" class="form-control my-colorpicker1 colorpicker-element" placeholder="John Doe" title="">
                                </div>

                                <div class="form-group">
                                    <label>Contact No*</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input asp-for="ContactNumber" type="text" class="form-control" placeholder="+880180000001">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Employee Mobile No*</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                        </div>
                                        <input asp-for="EmpMobileNo" type="text" class="form-control" placeholder="+880180000001">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Father Name</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input asp-for="FatherName" type="text" class="form-control" placeholder="John Doe">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>NID</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input asp-for="NID" type="text" class="form-control" placeholder="Please provide NID No. provided by the government">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Join Date</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input asp-for="JoinDate" class="form-control" placeholder="+880180000001">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Review Date</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input asp-for="ReviewDate" class="form-control" placeholder="+880180000001">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label>Country</label>
                                    <select asp-for="CountryId" class="form-control" id="country">
                                        <option  selected="selected">- Select -</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Division</label>
                                    <select asp-for="DivisionId" class="form-control" id="division">
                                        @*<option value="0">- Select -</option>*@
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>District</label>
                                    <select asp-for="DistrictId" class="form-control" id="district">
                                        @*<option value="0">- Select -</option>*@
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Upazila</label>
                                    <select asp-for="UpazilaId" class="form-control" id="upazila">
                                        @*<option value="0">- Select -</option>*@
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Factory</label>
                                    <select class="form-control">
                                        <option value="0">- Select -</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Factory Unit</label>
                                    <select class="form-control">
                                        <option value="0">- Select -</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Designation</label>
                                    <select asp-for="DesignationId" class="form-control">
                                        <option>- Select -</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Employee Type</label>
                                    <select asp-for="EmployeeTypeId" class="form-control" id="employeetype">
                                        <option selected="selected">- Select -</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Salary Grade</label>
                                    <select class="form-control">
                                        <option value="0">- Select -</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Present Salary</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input asp-for="PresentSalary" type="text" class="form-control" placeholder="20000">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Starting Salary</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input asp-for="StartingSalary" type="text" class="form-control" placeholder="20000">
                                    </div>
                                </div>

                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <!-- /.card-body -->


                        </form>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">
        //function getDistrict() {

        //    var req = new XMLHttpRequest();
        //    req.open("get", "/Customer/GetDistrict", true);
        //    req.send();
        //    console.log(req.status);
        //}


        //var vehicles = {
        //    "Dhaka - ঢাকা": {
        //        "Dhaka": ["Dhaka", "Faridpur", "Gazipur", "Kishoreganj", "Madaripur", "Manikganj", "Munshiganj", "Mymensingh"],
        //        "Faridpur": ["Malibu", "Corvette", "Tahoe"],
        //        "Gazipur": ["Dhaka", "Faridpur", "Gazipur", "Kishoreganj", "Madaripur", "Manikganj", "Munshiganj", "Mymensingh"],
        //        "Kishoreganj": ["Malibu", "Corvette", "Tahoe"],
        //        "Madaripur": ["Dhaka", "Faridpur", "Gazipur", "Kishoreganj", "Madaripur", "Manikganj", "Munshiganj", "Mymensingh"],
        //        "Manikganj": ["Malibu", "Corvette", "Tahoe"],
        //        "Munshiganj": ["Dhaka", "Faridpur", "Gazipur", "Kishoreganj", "Madaripur", "Manikganj", "Munshiganj", "Mymensingh"],
        //        "Mymensingh": ["Bhaluka", "Dhubaura", "Fulbaria"]
        //    },
        //    "Barisal - বরিশাল": {
        //        "Honda": ["model 1", "model 2", "model 3"],
        //        "Yamaha": ["model 1", "model 2", "model 3", "model 4"]
        //    }
        //};

        $(document).ready(function () {


            var deptid = $(this).val();



            $.ajax({
                url: '@Url.Action("GetEmployeeType", "Employee")',
                type: 'get',
                dataType: 'json',
                success: function (response) {

                    var len = response.length;

                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];

                        $("#employeetype").append("<option value='" + id + "'>" + name + "</option>");

                    }
                }
            });


            $.ajax({
                url: '@Url.Action("GetCountry", "Employee")',
                type: 'get',
                dataType: 'json',
                success: function (response) {

                    var len = response.length;

                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];

                        $("#country").append("<option value='" + id + "'>" + name + "</option>");

                    }
                }
            });

            $('#country').change(function () {
                var countryId = $(this).val();
                console.log(countryId);

                $.ajax({
                    url: '@Url.Action("GetDivisions", "Employee")',
                    type: 'get',
                    dataType: 'json',
                    data: { countryId: countryId },
                    success: function (response) {

                        var len = response.length;

                        $("#division").empty();
                        $("#division").append("<option selected=\"selected\">- Select -</option>");

                        for (var i = 0; i < len; i++) {
                            var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#division").append("<option value='" + id + "'>" + name + "</option>");

                        }
                    }
                });
            });

            $('#division').change(function () {
                var divisionId = $(this).val();
                console.log(divisionId);

                $.ajax({
                    url: '@Url.Action("GetDistricts", "Employee")',
                    type: 'get',
                    dataType: 'json',
                    data: { divisionId: divisionId},
                    success: function (response) {

                        var len = response.length;

                        $("#district").empty();
                        $("#district").append("<option selected=\"selected\">- Select -</option>");

                        for (var i = 0; i < len; i++) {
                            var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#district").append("<option value='" + id + "'>" + name + "</option>");

                        }
                    }
                });


            });


            $('#district').change(function () {
                var districtId = $(this).val();
                console.log(districtId);

                $.ajax({
                    url: '@Url.Action("GetUpazila", "Employee")',
                    type: 'get',
                    dataType: 'json',
                    data: { districtId: districtId },
                    success: function (response) {

                        var len = response.length;

                        $("#upazila").empty();
                        $("#upazila").append("<option selected=\"selected\">- Select -</option>");

                        for (var i = 0; i < len; i++) {
                            var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#upazila").append("<option value='" + id + "'>" + name + "</option>");

                        }
                    }
                });
            });


        })


        //$(document).ready(function () {
        //    var $vehiclesList = $("#qmt-vehicle");
        //    var $manufList = $("#qmt-manufacturer");
        //    var $modelList = $("#qmt-model");
        //    var selectedType = null
        //    var selectedManuf = null;
        //    $.each(vehicles, function (key, vehicle) {
        //        $vehiclesList.append($("<option/>", { value: key, text: key }));
        //    });

        //    $vehiclesList.bind("change", function () {
        //        selectedType = $(this).val();
        //        if (selectedType && vehicles[selectedType]) {
        //            var manufacturers = vehicles[selectedType];
        //            $("#qmt-manufacturer option").not(":first").remove();
        //            $("#qmt-model option").not(":first").remove();
        //            $.each(manufacturers, function (key, manufacturer) {
        //                $manufList.append($("<option/>", { value: key, text: key }));
        //            });
        //        }
        //    });

        //    $manufList.bind("change", function () {
        //        var selectedManuf = $(this).val();
        //        $("#qmt-model option").not(":first").remove();
        //        if (selectedManuf && vehicles[selectedType] && vehicles[selectedType][selectedManuf]) {
        //            var models = vehicles[selectedType][selectedManuf];
        //            $.each(models, function (key, model) {
        //                $modelList.append($("<option/>", { value: model, text: model }));
        //            });
        //        }
        //    });

        //});

    </script>
}