﻿@using IPMS.Web.Models

@model WeightModel

@{

    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 264px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Create Weight</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Weight" asp-action="Index">Weight List</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-md-10">

                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Add Weight</h3>
                        </div>
                        <form class="form" method="post" asp-controller="Weight" asp-action="Add">
                            <div class="card-body">

                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" id="category">
                                        <option selected="selected">- Select -</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Brand</label>
                                    <select class="form-control" id="brand">
                                        <option selected="selected">- Select -</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Size</label>
                                    <select asp-for="SizeId" class="form-control" id="size">
                                        <option selected="selected">- Select -</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Weight Name</label>
                                    <input asp-for="WeightName" type="text" class="form-control my-colorpicker1 colorpicker-element" placeholder="" title="">
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <!-- /.card-body -->


                        </form>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("GetCategories", "ApiData")',
                type: 'get',
                dataType: 'json',
                success: function (response) {

                    var len = response.length;

                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['name'];

                        $("#category").append("<option value='" + id + "'>" + name + "</option>");

                    }
                }
            });

            $('#category').change(function () {
                var categoryId = $(this).val();

                    $.ajax({
                    url: '@Url.Action("GetBrands", "ApiData")',
                    type: 'get',
                    dataType: 'json',
                    data: { categoryId: categoryId },
                    success: function (response) {

                        var len = response.length;

                        $("#brand").empty();
                        $("#brand").append("<option selected=\"selected\">- Select -</option>");

                        for (var i = 0; i < len; i++) {
                            var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#brand").append("<option value='" + id + "'>" + name + "</option>");

                        }
                    }
                });
            });

             $('#brand').change(function () {
                var brandId = $(this).val();

                    $.ajax({
                    url: '@Url.Action("GetSizes", "ApiData")',
                    type: 'get',
                        dataType: 'json',
                        data: { brandId: brandId },
                    success: function (response) {

                        var len = response.length;

                        $("#size").empty();
                        $("#size").append("<option selected=\"selected\">- Select -</option>");

                        for (var i = 0; i < len; i++) {
                            var id = response[i]['id'];
                            var name = response[i]['name'];

                            $("#size").append("<option value='" + id + "'>" + name + "</option>");

                        }
                    }
                });
            });

        })

    </script>
}