﻿@using IPMS.Web.Models

@model CategoryModel

@{

    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 264px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Category</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Category" asp-action="Index">Categories</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">


            <div class="row">
                <div class="col-md-10">

                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Add Category</h3>
                        </div>
                        <form class="form" method="post" asp-controller="Category" asp-action="Add">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Category Name</label>
                                    <input asp-for="CategoryName" type="text" class="form-control my-colorpicker1 colorpicker-element" placeholder="" title="">
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <!-- /.card-body -->


                        </form>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>

@section Scripts
{
}